@media(max-width: 425px){
    td{
        width: 115px;
        height: 115px;
    }
    .start-image{
    width: 100%;
    }
   .game-content{
    width: 415px;
    height: 415px;
    border: none;
   }
   .new-start{
    top: 0px;
    left: 44px;
   }
   .winner{
    top: 41px;
    right: 25px;
    font-size: 24px;
   }
}

@media(max-width: 375px){
    td{
        width: 100px;
        height: 100px;
    }
    .game-content{
        width: 350px;
        height: 310px;
    }
}

@media(max-width: 320px){
    .game-content{
        width: 300px;
        height: auto;
    }
    .player-img{
        width: 40px;
        height: 40px; 
    }
    .new-start{
        top: 3px;
        left: 14px;   
        font-size: 23px;
    }
    .winner {
        top: 30px;
        right: 15px;
        font-size: 18px;
    }
}

@media(max-width: 280px){
    td {
        width: 80px;
        height: 80px;
    }
}

@media(max-height: 425px){
table td {
    border: 5px solid white;
    }
td {
    width: 70px;
    height: 70px;
    }
.game-content {
    width: 280px;
    height: 280px;    
    } 
.player-img{
    width: 35px;
    height: 35px;
}       

}   

@media(max-height: 375px){
    .start-image{
        width: 530px;
    }
    .current-player{
        font-size: 18px;
    }
    .player-one{
        width: 25px;
    }
    .player-two{
        width: 25px;
    }  
    .new-start{
        top: 19px;
        left: 75px;
    }  
    .winner{
        top: 57px;
        right: 15px; 
    }  
    
}

@media(max-height: 320px){
    .start-image{
        width: 380px;
    }
    td {
        width: 50px;
        height: 50px;
    }
    .player-img {
        width: 25px;
        height: 25px;
    }
    .game-content {
        width: 200px;
        height: 200px;
    }
    .new-start{
        font-size: 25px;
        top: 13px;
        left: 45px;
    }
    .winner {
        top: 40px;
        right: 12px;
        font-size: 23px;
    }
}

@media(max-height: 280px){
    td {
        width: 40px;
        height: 40px;
    }
    .player-img {
        width: 20px;
        height: 20px;
    }
    .game-content {
        width: 160px;
        height: 160px;
    }
}